/*
GENERAL
*/

h1 {
    color: #EFD869;
    text-shadow: 0px 0px 2vh #BA8A31;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body {
    overflow: hidden;
    background-image: radial-gradient(#2D895D, #133628);
    font-family: Open Sans;
    font-size: 2vh;
    font-weight: 400;
    text-align: center;
    color: white;
}

button, input { z-index: 5 !important; }
button:active, input:active { transform: translateY(1px); }

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 2vh;
    text-transform: uppercase;
}

/*
POSITIONING
*/

.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'newgame . deckcount'
        'dealerscore dealer .'
        'win win win'
        'playerscore player play'
        'bank bank bet'
        'bank bank .';
    grid-template-rows: 10% 5% 20% 5% 25% 30% 10%;
    grid-template-columns: 20% 40% 20%;
    justify-content: center;
}

header { grid-area: header; }
.new__game__container { grid-area: newgame; justify-self: end; margin-right: -20%; }
.deck__count__container { grid-area: deckcount; justify-self: start; margin-left: -20%; }
.dealer__container { grid-area: dealer; }
.player__container { grid-area: player; }
.dealer { grid-area: dealerscore; justify-self: end; margin-top: 20%; margin-right: -10%; }
.player { grid-area: playerscore; justify-self: end; margin-top: 20%; margin-right: -10%; }
#win { grid-area: win; height: 2vh; }
.play { grid-area: play; justify-self: start; margin-left: -10%; }

.bet {
    grid-area: bet;
    justify-self: start;
    width: 300px;
    margin-top: -10vh;
    margin-left: -12vw;
}

.bank {
    grid-area: bank;
    justify-self: end;
    height: 40vh;
    width: 500px;
    margin-right: 15vw;
}

/*
STYLING
*/

#new__game {
    background-color: rgba(4, 12, 20, 0.2);
    font-weight: 100px;
}

#deck__count {
    padding: 10px;
    background-color: #123553;
    border-radius: 2px;
    color: white;
}

.cards {
    height: 20vh;
    border-radius: 2px;
    box-shadow: 2px 2px 1vh black;
}

.dealer__cards, .player__cards { height: 20vh; }
#dealer__card1, #player__card1 { position: relative; left: 50px; }
#dealer__card2, #player__card2 { position: relative; left: -55px; }

#dealer__card__container, #player__card__container {
    position: relative;
    height: auto;
}

.score {
    padding: 10px;
    background-color: #05502B;
    border-radius: 1000px;
    color: white;
    font-weight: 900;
}

.dealer, .player {
    font-size: 3vh;
    color: #33BC40;
}

#hit__btn, #stand__btn, #deal__btn, #reset__btn {
    margin-bottom: 10px;
    background-color: #33BC40;
}

.bank {
    padding-left: 20px;
    background-color: #123553;
    border-style: groove;
    border-color: #CFD9D7;
    border-radius: 20px;
    box-shadow: 0px 0px 1vh black;
    text-align: left;
}

.chips, .chips__bet {
    width: 100px;
    border-radius: 50%;
    box-shadow: 1px 1px 1vh black;
}

#all__in__btn {
    position: relative;
    top: -5px;
    margin-left: 15px;
    height: 35px;
    background-color: #003A9B;
    box-shadow: 1px 1px 0.5vh black;
    font-size: 1.5vh;
}

#bet__total {
    position: relative;
    top: 25vh;
    left: -6vw;
    font-size: 5vh;
}

#deal__btn {
    position: relative;
    top: -5vh;
    left: 2vw;
    background-color: #09B0D5;
}

#reset__btn {position: relative;
    top: 4vh;
    left: -4vw;
    background-color: #C83A51;
}