/*
GENERAL
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header {
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
}

h1 {
    color: #EFD869;
    text-shadow: 0px 0px 2vh #BA8A31;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body {
    overflow: hidden;
    background-image: radial-gradient(#2D895D, #133628);
    font-family: Open Sans;
    font-size: 2vh;
    font-weight: 400;
    text-align: center;
    color: white;
}

button, input { z-index: 5 !important; }
button:active, input:active { transform: translateY(1px); }

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 80%;
    text-transform: uppercase;
}

/*
TABLE
*/

.table {
    height: 70vh;
    top: -5vh;
}

#new__game {
    top: 5vh;
    left: -14vw;
    background-color: rgba(4, 12, 20, 0.2);
    font-weight: 100px;
}

#deck__count {
    top: 5vh;
    left: 14vw;
    padding: 10px;
    background-color: #123553;
    border-radius: 2px;
    color: white;
}

.cards {
    height: 20vh;
    border-radius: 2px;
    box-shadow: 2px 2px 1vh black;
}

.dealer__cards, .player__cards { height: 20vh; }
#dealer__card1, #player__card1 { left: 50px; }
#dealer__card2, #player__card2 { left: -55px; }

#dealer__card__container, #player__card__container {
    position: fixed;
    width: 100%;
}

.score {
    padding: 10px;
    background-color: #05502B;
    border-radius: 1000px;
    color: white;
    font-weight: 900;
}

.dealer, .player {
    font-size: 3vh;
    color: #33BC40;
}

.dealer {
    top: 12vh;
    left: -18vw;
}

.player {
    top: -24vh;
    left: -18vw;
}

#win { height: 5.5vh; }

.play {
    top: -16vh;
    left: 17vw;
}

#hit__btn, #stand__btn, #deal__btn, #reset__btn {
    margin-bottom: 10px;
    background-color: #33BC40;
}

/*
BANK
*/

.bank {
    height: 500px;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #123553;
    border-style: groove;
    border-color: #CFD9D7;
    border-radius: 20px;
    width: 30vw;
    top: -16vh;
    left: 24vw;
    box-shadow: 0px 0px 1vh black;
    text-align: left;
}

#winnings { font-weight: 900; }
.tray { padding-top: 10px; }

.chips, .chips__bet {
    width: 6vw;
    border-radius: 50%;
    box-shadow: 1px 1px 1vh black;
}

.chips__bet {
    left: -100px;
}

#all__in__btn {
    top: -0.5vh;
    margin-left: 15px;
    height: 4vh;
    background-color: #003A9B;
    box-shadow: 1px 1px 0.5vh black;
    font-size: 1.5vh;
}

.bet {
    top: -650px;
    left: 16vw;
}

#bet__total {
    top: 20vh;
    left: -8vw;
    font-size: 5vh;
}

#deal__btn {
    top: -5vh;
    left: 2vw;
    background-color: #09B0D5;
}

#reset__btn {
    top: 4vh;
    left: -4vw;
    background-color: #C83A51;
}

/*
MOBILE
*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    * { overflow: hidden; }
    #new__game, #deck__count { top: 50px; }
    .dealer { top: 880px; }
    .player { top: -20px; }
    .play {
        top: 40px;
        left: 60px;
    }
    .bank {
        top: -200px;
        left: -20px;
        height: 1000px;
        width: 700px;
    }
    .bet {
        top: -1480px;
        left: 350px;
        height: 800px;
    }
    #bet__total {
        top: 300px;
        left: -60px;
    }
    #deal__btn {
        top: 180px;
    }
    #reset__btn {
        top: 250px;
        left: -80px;
        background-color: #C83A51;
    }
    .chips, .chips__bet {
        width: 150px;
    }
    .chips__bet {
        left: -100px;
    }
}